.container {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        padding: 0 18%;

        h2 {
            margin-bottom: 1rem;
            font-size: 2rem;
        }

        .errorMsg {
            background-color: var(--red);
            padding: .5rem 1rem;
            border-radius: .5rem;
            width: 15rem;

            span {
                color: var(--white);
            }
        }
    
        .inlineInput {
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-top: 1rem;
        }

        // Esse .inputArea está dentro do .inlineInput. Pus assim pois tem outros inputs com as mesmas estilizações fora do .inlineInput
        .inputArea {    
            display: flex;
            flex-direction: column;
            width: 15rem;

            label {
                color: var(--gray-800);
                font-weight: bold;
                font-size: .9rem;
            }
            
            input {
                background-color: transparent;
                outline: 0;
                transition: 250ms;
                width: 100%;
                height: 2.5rem;
                border: 1px solid var(--gray-200);
                border-radius: .3rem;
                padding-left: .7rem;
                margin-top: .3rem;

                &:focus {
                    border-color: var(--black);
                }
            }
        }

        .inputWrapped {
            display: flex;
            align-items: center;
            padding: 0 .7rem;
            height: 2.5rem;
            border-radius: .3rem;
            border: 1px solid var(--gray-200);

            input {
                border: 0;
                margin-top: 0;
                padding: 0;
            }

            img {
                cursor: pointer;
                width: 1.7rem;
                height: 1.7rem;
            }
        }
    
        .submit {
            background-color: #0028f3;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: 250ms;
            height: 2.5rem;
            width: 40%;
            border-radius: .5rem;
            margin-top: 1rem;

            &:hover {
                filter: brightness(0.8);
            }
            
            span {
                color: var(--white);
            }
        }

        .goToLogin {
            display: flex;
            align-items: center;
            margin-top: .6rem;
    
            p {
                font-size: 1.1rem;
            }
    
            span {
                cursor: pointer;
                transition: 250ms;
                font-size: 1.1rem;
                margin-left: .5rem;
                color: #0028f3;
    
                &:hover {
                    filter: brightness(0.8);
                }
            }
        }
    }
}