.container {
    display: flex;
    width: 100%;
    padding: 0 2rem 2rem 0;

    .leftContainer {
        margin-top: 1.5rem;
        padding-left: 2rem;
        width: 60%;

        h2 {
            font-size: 2rem;
        }

        .valueItem {
            background-color: var(--white);
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 90%;
            border-radius: .6rem;
            padding: 1rem;

            .account {
                color: var(--gray-500);

                strong {
                    color: var(--black);
                }
            }

            p {
                color: var(--gray-500);
                font-size: 1rem;
            }

            div {
                display: flex;
                align-items: center;

                .value {
                    font-weight: bold;
                    font-size: 2rem;
                }
            }

            .inlineButton {
                display: flex;
                align-items: center;
                margin-top: .7rem;

                span {
                    color: var(--white);
                }

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition: 250ms;
                    height: 2.5rem;
                    padding: 0 1rem;
                    border-radius: .4rem;

                    &:hover {
                        filter: brightness(0.9);
                    }
                }

                .depositButton {
                    background-color: var(--green);
                }

                .withdrawButton {
                    background-color: var(--red);
                    margin-left: 1rem;
                }

            }
        }

        .historyArea {
            background-color: var(--white);
            width: 90%;
            border-radius: .6rem;
            margin-top: 1.5rem;

            .header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem;
                border-bottom: 1px solid var(--gray-100);

                h2 {
                    font-size: 1.2rem;
                }

                .dateArea {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    .date {
                        .input {
                            outline: 0;
                            transition: 250ms;
                            border: 1px solid var(--gray-200);
                            height: 2.5rem;
                            border-radius: .5rem;
                            padding-left: .7rem;
                            margin-left: .7rem;

                            &:focus {
                                border-color: var(--black);
                            }
                        }
                    }

                    .filterButton {
                        background-color: var(--gray-100);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        transition: 250ms;
                        height: 2.5rem;
                        width: 2.5rem;
                        border-radius: 2rem;

                        &:hover {
                            filter: brightness(0.9);
                        }
                    }
                }
            }

            .transactionArea {
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: scroll;
                max-height: 35rem;
                padding: 0 1rem 1rem 1rem;
                margin-bottom: 2rem;

                tbody {
                    width: 100%;

                    div {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        margin-top: 1rem;

                        .type {
                            font-weight: bold;
                            font-size: 1.1rem;
                            width: 5rem;
                        }
        
                        .date {
                            color: var(--gray-800);
                            text-align: center;
                            font-size: .9rem;
                            width: 5rem;
                        }
        
                        .value {
                            font-weight: bold;
                            text-align: right;
                            width: 7rem;
                        }
                    }
                }
            }
        }
    }

    .rightContainer {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        
        h2 {
            font-size: 2rem;
            text-align: center;
        }

        .customTooltip {
            background-color: var(--white);
            padding: .5rem;
            border-radius: .5rem;

            p {
                font-size: 1.3rem;
            }
        }
    }

    .modalContainer {
        background-color: rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        padding: 0;

        .modal {
            background-color: var(--white);
            padding: 1rem 2rem;
            border-radius: .5rem;

            input {
                outline: 0;
                height: 2.5rem;
                border: 1px solid var(--gray-200);
                border-radius: .5rem;
                margin-top: .7rem;
                padding: 0 .7rem;
                font-size: 1.1rem;

                &::placeholder {
                    font-size: 1rem;
                    color: var(--gray-200);
                }
            }

            .closeModal {
                display: flex;
                justify-content: flex-end;
                cursor: pointer;
            }

            p {
                margin-top: .7rem;
            }

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 250ms;
                width: 10rem;
                height: 2.5rem;
                margin-top: .7rem;
                padding: 0 1rem;
                border-radius: .5rem;

                &:hover {
                    filter: brightness(0.9);
                }

                span {
                    color: var(--white);
                }
            }

            .depositButton {
                background-color: var(--green);
            }

            .withdrawButton {
                background-color: var(--red);
            }
        }

    }

    .modalHistoryContainer {
        background-color: rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
        height: 100vh;

        .modalHistory {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: var(--white);
            padding: 2rem;
            border-radius: .5rem;

            .inlineButton {
                display: flex;
                align-items: center;
                margin-top: 1rem;

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 2.5rem;
                    padding: 0 1rem;
                    border-radius: .5rem;

                    span {
                        color: var(--white);
                    }
                }

                .deleteButton {
                    background-color: var(--red);
                }

                .cancelButton {
                    background-color: var(--gray-200);
                    margin-left: 1rem;
                }
            }
        }
    }

    .loader {
        margin: .7rem 0;
    }
    
}

@media(max-width: 500px) {
    .container {
        padding: 0;
        display: block;
        
        .leftContainer {
            .valueItem {
                .inlineButton {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    div {
                        width: 100%;
                    }

                    .withdrawButton {
                        margin: .7rem 0 0 0;
                    }
                }
            }

            .historyArea {
                .header {
                    flex-direction: column;

                    .dateArea {
                        flex-direction: column;
                        margin-top: 1.5rem;
                    }
                }
            }
        }

        .rightContainer {
            display: block;
            width: auto;
            margin: 0;

            h2 {
                text-align: center;
            }
        }

        .modalHistoryContainer {
            .modalHistory {
                width: 80%;
                
                p {
                    text-align: center;
                }

                .inlineButton {
                    flex-direction: column;

                    div {
                        width: 10rem;
                    }

                    .cancelButton {
                        margin-left: 0;
                        margin-top: .7rem;
                    }
                }
            }
        }
    }
}

@media(max-width: 900px) {
    .container {
        .leftContainer {
            .historyArea {
                .header {
                    flex-direction: column;

                    .dateArea {
                        margin-top: 1.5rem;
                    }
                }
            }
        }
    }
}

@media(max-width: 1200px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;

        .leftContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 0;

            .valueItem {
                margin-top: 1rem;
            }
        }

        .rightContainer {
            align-items: center;
            justify-content: center;
            margin: 2rem 0 4rem 0;
        }
    }
}

@media(min-width: 1900px) {
    .container {
        padding: 0 15rem;
    }
}