.container {
    display: flex;
    width: 100%;
    padding: 0 2rem 2rem 0;

    .leftContainer {
        margin-top: 1.5rem;
        padding-left: 2rem;
        width: 60%;

        h2 {
            font-size: 2rem;
        }

        .valueItem {
            background-color: var(--white);
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 90%;
            border-radius: .6rem;
            padding: 1rem;

            .account {
                color: var(--gray-500);

                strong {
                    color: var(--black);
                }
            }

            p {
                color: var(--gray-500);
                font-size: 1rem;
            }

            div {
                display: flex;
                align-items: center;

                .value {
                    font-weight: bold;
                    font-size: 2rem;
                }

                .valueChange {
                    margin-left: 1rem;
                    color: var(--green);
                }
            }

            .inlineButton {
                display: flex;
                align-items: center;
                margin-top: .7rem;

                span {
                    color: var(--white);
                }

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition: 250ms;
                    height: 2.5rem;
                    padding: 0 1rem;
                    border-radius: .4rem;

                    &:hover {
                        filter: brightness(0.9);
                    }
                }

                .depositButton {
                    background-color: var(--green);
                }

                .withdrawButton {
                    background-color: var(--red);
                    margin-left: 1rem;
                }

            }
        }

        .historyArea {
            background-color: var(--white);
            width: 90%;
            border-radius: .6rem;
            margin-top: 1.5rem;

            .header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem;
                border-bottom: 1px solid var(--gray-100);

                h2 {
                    font-size: 1.2rem;
                }

                .selectTime {
                    background-color: var(--gray-100);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 6rem;
                    height: 2rem;
                    border-radius: 1rem;

                    select {
                        background-color: transparent;
                        appearance: none;
                        border: none;
                        outline: 0;
                        width: 6rem;
                        padding: 0 1rem;
                        font-weight: 500;
                    }
                }
            }

            .transactionArea {
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: scroll;
                max-height: 20rem;
                padding: 0 1rem 1rem 1rem;

                tbody {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin-top: 1rem;

                    .type {
                        font-weight: bold;
                        font-size: 1.1rem;
                        width: 5rem;
                    }
    
                    .date {
                        color: var(--gray-800);
                        text-align: center;
                        font-size: .9rem;
                        width: 5rem;
                    }
    
                    .value {
                        font-weight: bold;
                        text-align: right;
                        width: 5rem;
                    }
                }
            }
        }
    }

    .rightContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        
        h2 {
            font-size: 2rem;
        }

        .customTooltip {
            background-color: var(--white);
            padding: .5rem;
            border-radius: .5rem;

            p {
                font-size: 1.3rem;
            }
        }
    }

    .modalContainer {
        background-color: rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 0;

        .modal {
            background-color: var(--white);
            padding: 1rem 2rem;
            border-radius: .5rem;

            input {
                outline: 0;
                height: 2.5rem;
                border: 1px solid var(--gray-200);
                border-radius: .5rem;
                margin-top: .7rem;
                padding: 0 .7rem;
                font-size: 1.1rem;

                &::placeholder {
                    font-size: 1rem;
                    color: var(--gray-200);
                }
            }

            .closeModal {
                display: flex;
                justify-content: flex-end;
                cursor: pointer;
            }

            p {
                margin-top: .7rem;
            }

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 250ms;
                width: 10rem;
                height: 2.5rem;
                margin-top: .7rem;
                padding: 0 1rem;
                border-radius: .5rem;

                &:hover {
                    filter: brightness(0.9);
                }

                span {
                    color: var(--white);
                }
            }

            .depositButton {
                background-color: var(--green);
            }

            .withdrawButton {
                background-color: var(--red);
            }
        }

    }
}